<!DOCTYPE html>
{% load menu %}
{% load i18n %}
{#{% load setting %}#}

{% url account as account %}

<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}NewsDub Intelligent Newsletters{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/reset.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
    {% block css %}{% endblock %}
    <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.1.min.js"></script>
    {% block js_top %}{% endblock %}
    {% block additional_head %}{% endblock %}
</head>
<body>
<!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
<!-- Add your site or application content here -->
{% if user.is_authenticated %}
<div id="container-top">
    <div class="content">
        Hello {{ user.get_full_name}} -
        <a href="{% url auth_logout %}">Logout</a>
    </div>
</div>
{% endif %}
<div id="container_header">
    <div id="header_box">
        <div id="logo">
            <a href="{% url home %}">
                <img src="/images/newsdub_logo.png" class="logo_img">
            </a>
        </div>
        {% if user.is_authenticated %}
            <div id="nav">
                <ul>
                    <li>
                        <a class="{% is_active request.path 'dashboard-index' %}" href="{% url dashboard-index %}" class="">Dashboard</a>
                    </li>
                    <li>
                        <a class="{% is_newsletter request.path %}" href="{% url newsletter_list %}" class="">Newsletters</a>
                    </li>
                    <li>
                        <a href="#" class="">People</a>
                    </li>
                    <li>
                        <a class="{% is_account request.path %}" href="{% url account %}" class="">Account</a>
                    </li>
                    <li>
                        <a class="" href="{% url account %}" class="">Settings</a>
                    </li>
                    <li>
                        <a href="/help" class="">Help</a>
                    </li>
                </ul>
            </div>
        {% else %}
        {% block navigation_top %}
        <div id="nav">
            <ul>
                <li>
                    <a href="/tour" class="">Take the tour</a>
                </li>
                <li>
                    <a href="/plans" class="">Plans &amp; Pricing</a>
                </li>
                <li>
                    <a href="/buzz" class="">Buzz</a>
                </li>
                <li>
                    <a href="/team" class="">Team</a>
                </li>
                <li>
                    <a href="/help" class="">Help</a>
                </li>
                <li>
                    <a target="_blank" href="http://blog.newsdub.com">Blog</a>
                </li>
                <li>
                    <a href="/lookup" class="">Sign In</a>
                </li>
            </ul>
        </div>
    </div>
        {% endblock %}
        {% endif %}
</div>
<div class="clearfix"></div>
{% block dashboard %}{% endblock %}
<div class="clearfix"></div>
<div id="main_container">
   {% block content %}{% endblock %}
</div>


{#<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>#}
{#<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.8.0.min.js"><\/script>')</script>#}
{#<script src="js/plugins.js"></script>#}
{#<script src="js/main.js"></script>#}
{##}
{#<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->#}
{#<script>#}
{#    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];#}
{#    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];#}
{#        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';#}
{#        s.parentNode.insertBefore(g,s)}(document,'script'));#}
{#</script>#}
</body>
</html>