<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>NewsDub Dashboard</title>
</head>
<body>
{% load custom_filters %}
{% if user.is_authenticated %}
Welcome back {{ user.first_name }}!
    <br/>
    <ul>
    <li>Click Here to view your Profile:<a href="{% url account %}">My Profile</a> </li>
    <li>Click here to add an article:<a href="{% url post %}">Write an Article</a></li>
    <li>Click here to view your articles:<a href="{% url post_list %}">View Article list</a></li>
    </ul>

{% else %}
Please log in.
{% endif %}

</body>
</html>