{% extends "base.html" %}

{% block content %}
Welcome back {{ user.first_name }}!
    <br/>
    <ul>
    <li>Click Here to view your Profile:<a href="{% url account %}">My Profile</a> </li>

    <li>Click here to add an article:<a href="{% url post %}">Write an Article</a></li>
        <li>Click here to view your Newsletters:<a href="{% url newsletter_list %}">View your Newsletters</a></li>
        <li>Click here to view your articles:<a href="{% url post_list %}">View Article list</a></li>
    <li>Click here to add a Newsletter:<a href="{% url newlsetter_create %}">Create a Newsletter</a></li>
    </ul>
{% endblock %}
