{% extends "base.html" %}

{% block content %}
{% load custom_filters %}

    <h1>Your Personal Information</h1>
    <ul>
        <li>Name: {{ user.get_full_name }}</li>
        <li>Username: {{ user.username }}</li>
    </ul>
    <ul>
        <li>Email: {{ user.email }}</li>
        <li>Phone: {{ profile.phone }}</li>
    </ul>
    <ul>
        <li>Website: {{ profile.website }}</li>
    </ul>
    <a href="{% url edit-profile %}">Change Personal Information</a>
    <h2>Your Account Details</h2>
    <ul>
        <li>Account Type: {% if user|in_group:"2" %} Paid Member {% endif %} {% if user|in_group:"1" %}
            Free Member <a href="#">Click Here to Upgrade</a>  {% endif %}</li>
        <li>Account Usage: "This will have %"</li>
        <li>Date Joined: {{ user.date_joined }}</li>
    </ul>
    <h2>Sender Settings</h2>
    <ul><p>YourEmail Senders</p>
        <li>Infusionsoft</li>
        <li>Mail Chimp</li>
    </ul>
    <h2>System Settings</h2>
    <ul>
        <li><a href="{% url change-password%}">Change Password</a></li>
        <li>Timezone: PST</li>
    </ul>
{% endblock %}