{% extends 'base_dashboard.html' %}
{% load switchcase %}
{% load custom_filters %}
{% block title %}Your Issues{% endblock %}

{% block content %}
        <table cellpadding="5" cellspacing="0" border="0" class="blog-list" width="700px">
            <th>Title</th>
            <th>Published On</th>
            <th>Status</th>
            <th></th>
            {% for issue in object_list %}
                <tr class="{% cycle odd,even %}">
                    <td><b><a href="grid/{{ issue.get_absolute_url }}">{{ issue.title }}</a></b><br />

                    </td>
                    <td nowrap>{{ issue.publish|date }}</td>
                    <td>
                        {% with issue.status as status %}
                            {% switch status %}
                                {% case 2 %}Published{% endcase %}
                                {% case 1 %}Draft{% endcase %}
                            {% endswitch %}
                        {% endwith %}
                    </td>
                    <td width="50px" align="center">
                        <a href="{% url newsletter_update issue.slug %}">
                            <img src="{{ STATIC_URL }}images/pencil.png" alt="edit" border="0" title="Edit Post"  />
                        </a>
                    </td>
                    <td align="right">

                        <form action="{% url newsletter_delete issue.slug %}" method="POST">{% csrf_token %}
                            <input type="image" src="{{ STATIC_URL }}images/delete.png" alt="delete" border="0" title="Delete Post" />
                            <input type="hidden" name="action" value="delete"/>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>

{% endblock %}