{% extends 'base_dashboard.html' %}

{% load thumbnail %}
{% load switchcase %}
{% load custom_filters %}
{% block title %}Your Articles in {{ newsletter.title }}{% endblock %}
{% block content %}
{% if object_list %}
    <div class="">
        {% for post in object_list %}
{#        <div class="newsletter_preview">#}
{#            <a href="{{ post.get_absolute_url }}"> <img src="{% thumbnail post.image 280x200 crop %}" alt=""/></a>#}
{#           <span class="preview_frame">#}
{#              <span class="preview_title">{{ post.title }}</span>#}
{#               <span class="preview_excerp">{{ post.tease|truncatechars:35  }}</span>#}
{#           </span>#}
{#        </div>#}
            <div id="f1_container">
                <div id="f1_card" class="preview_tile">
                    <div class="front face">
                        <a href="#"><img src="{% thumbnail post.image 150x150 crop %}" alt=""/></a>
                        <span class="preview_frame">
                          <span class="preview_title">{{ post.title|truncatechars:20 }}</span>
                          <span class="preview_excerp">{{ post.tease|truncatechars:25  }}</span>
                        </span>
                    </div>
                    <div class="back face center">
                        <p>{{ post.tease|truncatechars:100  }}</p>
                        <hr>
                        <div><a href="{{ post.get_absolute_url }}" class="button_link">View</a></div>
                        <div><a href="{% url post_update post.slug %}" class="button_link">Edit</a></div>
                        <div><a href="" class="button_link">Share</a></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

<div class="clearfix"></div><br/>


    <p>Switch View: <a href="/newsletters/tabular/{{ newsletter.get_absolute_url }}">List</a></p>
   <br>
    <p>Switch View: <a href="/newsletters/pub/{{ user.username }}/{{ newsletter.get_absolute_url }}">Public Facing</a></p>
{% else %}
    <p>You have no articles in this issue. <a href="{% url post %}">Create one now</a> </p>
    <br>
    <p>Or... <a href="{% url post_list %}">Add one now</a> </p>
{% endif %}
{% endblock %}