{% extends "base_dashboard.html" %}

{% load i18n %}
{% block title %}Update Newsletter{% endblock %}
{% block js_top %}<script src="{{ STATIC_URL }}js/urlslugger.js"></script>{% endblock %}

{% block content %}
        <div class="">
            <form id="newsletter_form" method="post">
                {% csrf_token %}
                <ul>
                    <li><label class="newsletter_lb">Title:</label> {{ form.title }}</li>
                    <li><label class="newsletter_lb">Slug:</label> {{ form.slug }}</li>
                    <li><label>Description:</label> {{ form.description }}</li>
                    <li><label>Status:</label> {{ form.status }}</li>
                </ul>
                <button class="btn" type="submit">{% trans "Update Newsletter" %}</button>
            </form>
        </div>
{% endblock %}