{% extends 'base_dashboard.html' %}

{% load thumbnail %}
{% load switchcase %}
{% load custom_filters %}
{% block title %}Your Articles in {{ newsletter.title }}{% endblock %}
{% block content %}
        <table cellpadding="5" cellspacing="0" border="0" class="blog-list" width="900px">
            <th>Title</th>
            <th>Published On</th>
            <th>Status</th>
            <th></th>
            {% for post in object_list %}
                <tr class="{% cycle odd,even %}">
                    <td width="120px"><img src="{% thumbnail post.image 100x50 crop %}" alt=""/></td>
                    <td><b><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></b><br />
                        {% with post.tease|truncatewords:"50" as body %}
                                {{ body|force_escape|linebreaks|safe }}
                        {% endwith %}
                    </td>
                    <td nowrap>{{ post.publish|date }}</td>
                    <td>
                        {% with post.status as status %}
                            {% switch status %}
                                {% case 2 %}Published{% endcase %}
                                {% case 1 %}Draft{% endcase %}
                            {% endswitch %}
                        {% endwith %}
                    </td>
                    <td width="50px" align="center">
                        <a href="{% url post_update post.slug %}">
                            <img src="{{ STATIC_URL }}images/pencil.png" alt="edit" border="0" title="Edit Post"  />
                        </a>
                    </td>
                    <td align="right">

                        <form action="{% url post_delete post.slug %}" method="POST">{% csrf_token %}
                            <input type="image" src="{{ STATIC_URL }}images/delete.png" alt="delete" border="0" title="Delete Post" />
                            <input type="hidden" name="path" value="{{ request.path }}"/>
                            <input type="hidden" name="action" value="delete"/>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
<p>Switch View: <a href="/newsletters/grid/{{ newsletter.get_absolute_url }}">Grid</a></p>
{% endblock %}