{% extends 'base_public.html' %}

{% load thumbnail %}
{% load switchcase %}
{% load custom_filters %}
{% block title %}{{ newsletter.title }}{% endblock %}
{% block content_title %}{{ newsletter.title|truncatechars:50 }}{% endblock %}
{% block content %}
    <div class="">
        {% for post in object_list %}
            <div id="container_pub">
                <div class="preview_tile_pub">
                    <a href=""><img src="{% thumbnail post.image 260x260 crop %}" alt=""/></a>
                    <span class="preview_title_pub"><h2>{{ post.title|truncatechars:38 }}</h2></span>
                    <span class="preview_excerp_pub">
                        <p>{{ post.tease|truncatechars:150 }}</p>
                        <span class="preview_read_pub">READ</span>
                    </span>
                </div>
            </div>
        {% endfor %}
    </div>

{#This was for card flipping#}
{#    <div class="">#}
{#        {% for post in object_list %}#}
{#            <div id="f1_container_pub">#}
{#                <div id="f1_card_pub" class="preview_tile_pub">#}
{#                    <div class="front_pub face_pub">#}
{#                        <img src="{% thumbnail post.image 260x260 crop %}" alt=""/>#}
{#                        <span class="preview_title_pub">{{ post.title|truncatechars:20 }}</span>#}
{#                        <span class="preview_frame_pub">#}
{##}
{#                          <span class="preview_excerp_pub">{{ post.tease|truncatechars:25  }}</span>#}
{#                          <span id="f1_flip_icon">flip</span>#}
{#                        </span>#}
{#                    </div>#}
{#                    <div class="back_pub face_pub center_pub">#}
{#                        <p>{{ post.tease|truncatechars:100  }}</p>#}
{#                        <hr>#}
{#                        <div><a href="{{ post.get_absolute_url }}" class="button_link">View</a></div>#}
{#                        <div><a href="{% url post_update post.slug %}" class="button_link">Edit</a></div>#}
{#                        <div><a href="" class="button_link">Share</a></div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
{#    </div>#}
<div class="clearfix"></div>
{% endblock %}