{% extends 'base.html' %}
{% load switchcase %}
{% load custom_filters %}

{% block content %}
    <h1>Your Newsletters</h1>
        <table cellpadding="5" cellspacing="0" border="0" class="blog-list" width="700px">
            <th>Title</th>
            <th>Published On</th>
            <th>Status</th>
            <th></th>
            {% for newsletter in object_list %}
                <tr class="{% cycle odd,even %}">
                    <td><b><a href="{{ newsletter.get_absolute_url }}">{{ newsletter.title }}</a></b><br />

                    </td>
                    <td nowrap>{{ newsletter.publish|date }}</td>
                    <td>
                        {% with newsletter.status as status %}
                            {% switch status %}
                                {% case 2 %}Published{% endcase %}
                                {% case 1 %}Draft{% endcase %}
                            {% endswitch %}
                        {% endwith %}
                    </td>
                    <td width="50px" align="center">
                        <a href="{% url newsletter_update newsletter.slug %}">
                            <img src="{{ STATIC_URL }}images/pencil.png" alt="edit" border="0" title="Edit Post"  />
                        </a>
                    </td>
                    <td align="right">

                        <form action="{% url newsletter_delete newsletter.slug %}" method="POST">{% csrf_token %}
                            <input type="image" src="{{ STATIC_URL }}images/delete.png" alt="delete" border="0" title="Delete Post" />
                            <input type="hidden" name="action" value="delete"/>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>

{% endblock %}