{% extends 'base_dashboard.html' %}
{% load wysiwyg %}

{% load i18n %}
{% block title %}Create an Article{% endblock %}
{% block js_top %}
    <script src="{{ STATIC_URL }}js/urlslugger.js"></script>
{% endblock %}
{% block additional_head %}{% wysiwyg_setup %}
{% endblock %}

{% block content %}
            <form enctype="multipart/form-data" id="article_form" method="post">
                {% csrf_token %}
                <ul>
                    <li><label class="article_lb">Article Title:</label> {{ form.title }}</li>
                    <li><label class="article_lb">Article Slug:</label> {{ form.slug }}</li>
                    <li>{{ form.body }}</li>
                    <li><label>Article Excerpt:</label> {{ form.tease }}</li>
                    <li><label>Tags:</label> {{ form.tags }}</li>
                    <li><label>Status:</label> {{ form.status }}</li>
                    <li><label>Allow Comments:</label> {{ form.allow_comments }}</li>
                    <li><label>Newsletters:</label> {{ form.newsletters }}</li>
                    <li><label>Image:</label> {{ form.image }}</li>
                </ul>
                {% wysiwyg_editor "id_body" %}
                <button class="btn" type="submit">{% trans "Save" %}</button>
            </form>
{% endblock %}
