{% block navigation_top %}
<div id="nav">
    <ul>
        <li>
            <a href="/tour" class="" id="mfa1">Take the tour</a>
        </li>
        <li>
            <a href="/signup" class="" id="mfa2">Plans &amp; Pricing</a>
        </li>
        <li>
            <a href="/buzz" class="" id="mfa3">Buzz</a>
        </li>
        <li>
            <a href="/team" class="" id="mfa4">Team</a>
        </li>
        <li>
            <a href="/help" class="">Help</a>
        </li>
        <li>
            <a target="_blank" href="http://blog.newsdub.com">Blog</a>
        </li>
        <li>
            <a href="/lookup" >Sign In</a>
        </li>
    </ul>
</div>
{% endblock %}